<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section>
            <h2 th:text="${title}"></h2>
            <h3>Area of Operation I.A</h3>

            <div class="row">
                <div class="col">
                    <h4>Objective</h4>
                    <ul>
                        <li>The learner will understand human needs, defense mechanisms, stress and other emotional reactions, and how these elements affect the learning process.</li>
                        <li>The learner will develop skills to maintain effective communication.</li>
                        <li>The learner will mitigate risk by recognizing and accomodating human behavior.</li>
                    </ul>

                    <h4>References</h4>
                    <ul>
                        <li>Aviation Instructor's Handbook</li>
                    </ul>

                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#definitions">Definitions of Human Behavior</a></li>
                        <li><a href="#needs">Human Needs</a></li>
                        <li><a href="#adults">Adult Learners</a></li>
                        <li><a href="#motivation">Motivation</a></li>
                        <li><a href="#motivation-barriers">Barriers to Motivation</a></li>
                        <li><a href="#defense">Defense Mechanisms</a></li>
                        <li><a href="#communication">Communication</a></li>
                        <li><a href="#communication-barriers">Barriers to Communication</a></li>
                        <li><a href="#communication-skills">Developing Communication Skills</a></li>
                        <li><a href="#relationship">Instructor / Student Relationship</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="definitions">
            <h3>Human Behavior</h3>
            <ul>
                <li>an attempt to explain how and why humans function the way they do.</li>
                <li>a combination of many factors, including innate human nature as well as individual experiences.</li>
            </ul>

            <h4>Definitions of Human Behavior</h4>
            <ul>
                <li>response to fear</li>
                <li>methods of satisfying needs</li>
                <li>developmental changes</li>
            </ul>

            <h5>Understand the Relationship Between</h5>
            <ul>
                <li>Humans</li>
                <li>Needs</li>
                <li>Motivation</li>
                <li>Barriers to Motivation</li>
            </ul>
        </section>

        <section id="needs">
            <h3>Human Needs</h3>
            <h4>Maslow's Hierarchy</h4>
            <p class="bg bg-1">Lower, less complex needs must be satisfied before considering higher, more complex needs.</p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <h5>Physiological</h5>
                        </li>
                        <li>
                            <h5>Safety and Security</h5>
                        </li>
                        <li>
                            <h5>Belonging</h5>
                            <ul>
                                <li>give and receive friendship and love</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Esteem</h5>
                            <ul>
                                <li>Internal - self-esteem, confidence, independence</li>
                                <li>External - recognition, reputation, status</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Cognitive and Aesthetic - understand the world around you</h5>
                            <ul>
                                <li>Cognitive - knowledge, understanding</li>
                                <li>Aesthetic - opinions, tastes (can affect instructor / learner relationship)</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Self-Actualization</h5>
                            <ul>
                                <li>fulfill potential</li>
                                <li>solve problems</li>
                                <li>concerned about personal growth</li>
                                <li>appreciate life</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779475806/maslow-pyramid_d2tptz.png');">
                    </div>
                </div>
            </div>
        </section>

        <section id="adults">
            <h3>Teaching Adult Learners</h3>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Adult Learners:</h4>
                    <ul>
                        <li>seek new knowledge or skills as a means to an end, not an end in itself</li>
                        <li>can be coping with specific life-changing events: marriage, divorce, a new job</li>
                        <li>are autonomous, self-directed, independent, and want to exercise control</li>
                        <li>have accumulated a foundation of life experiences and knowledge to draw from when learning</li>
                        <li>are goal oriented</li>
                        <li>are relevancy oriented</li>
                        <li>are practical and focused on how to apply new knowledge</li>
                        <li>expect to be shown respect</li>
                        <li>are motivated by a need to maintain or increase self-esteem</li>
                        <li>want to solve problems and apply new knowledge immediately</li>
                    </ul>
                </div>
                <div class="col bg bg-2">
                    <h4>Instructors Should:</h4>
                    <ul>
                        <li>provide a structured syllabus</li>
                        <li>help learners integrate new ideas with what they already know</li>
                        <li>articulate their expectations, as well as understand student expectations</li>
                        <li>recognize the learner's need to control pace and length of lessons</li>
                        <li>take advantage of adult's preference to self-direct</li>
                        <li>remember that self-direction does not mean isolation</li>
                        <li>refrain from spoon-feeding</li>
                        <li>set a cooperative learning climate</li>
                        <li>create opportunities for mutual planning</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="motivation">
            <h3>Motivation</h3>
            <ul>
                <li>the reason that causes certain behavior</li>
                <li>people will not typcially gain new knowledge or skills without motivation</li>
            </ul>

            <div class="row">
                <div class="col bg bg-2">
                    <h4>Positive Motivation</h4>
                    <p>Promise of reward</p>
                    <p>Positive Motivation is always more effective</p>
                    <ul>
                        <li>secure, pleasant environment</li>
                        <li>tangible returns for efforts</li>
                        <li>group approval and belonging</li>
                        <li>favorable self-image</li>
                    </ul>
                </div>
                <div class="col bg bg-2">
                    <h4>Negative Motivation</h4>
                    <p>Also effective for a time, but overall detrimental to a learners continued growth.</p>
                    <p>Should be avoided (except possibly with extremely overconfident, impulsive, unsafe learners).</p>
                    <ul>
                        <li>threats</li>
                        <li>fear</li>
                        <li>criticism</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="motivation-barriers">
            <h3>Barriers to Motivation</h3>

            <h4>Loss of Motivation or Interest</h4>
            <p class="bg bg-1">Humans will inevitably experience drops in motivation, especially as novelty and excitement wears off.</p>
            <p>Instructors can</p>
            <ul>
                <li>praise incremental success</li>
                <li>present new challenges</li>
                <li>relate each block of learning to larger objectives</li>
                <li>vary training</li>
                <li>remind the learner of their goals and motivations</li>
            </ul>

            <h4>Learning Plateaus</h4>
            <p>Plateaus are normal and usually temporary.</p>
        </section>

        <section>
            <h3>Barriers to Motivation</h3>
            <h4>Emotional Reactions</h4>
            <div class="row">
                <div class="col">
                    <h5>Anxiety and Stress</h5>
                    <ul>
                        <li>fear or nervousness about a potential outcome that hinders learning</li>
                        <li>
                            <p>may cause</p>
                            <ul>
                                <li>appropriate, adequate, rapid response</li>
                                <li>freezing, resignation, incorrect responses</li>
                            </ul>
                        </li>
                        <li>reinforce positive aspects of flying</li>
                        <li>reduce stress outside of flying</li>
                    </ul>

                    <h5>Impatience</h5>
                    <ul>
                        <li>learner seeks only the ultimate objective without proper consideration of the preliminary tasks</li>
                        <li>potential result of pacing set for a slower learner</li>
                        <li>instructors should present clear steps related to goals</li>
                    </ul>

                    <h5>Worry or Lack of Interest</h5>
                    <ul>
                        <li>can be caused by concern about or progress as well as concerns completely unrelated to training</li>
                        <li>divert focus to task at hand</li>
                        <li>ensure learner understands where they are in their progress and what deficiencies still exist</li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Physiological Factors</h5>
                    <ul>
                        <li>illness</li>
                        <li>airsickness</li>
                        <li>dehydration</li>
                        <li>extreme temperatures</li>
                        <li>poor ventilation</li>
                        <li>
                            <p>fatigue (acute and chronic)</p>
                            <ul>
                                <li>inattention</li>
                                <li>distractibility</li>
                                <li>errors in timing</li>
                                <li>neglect of secondary tasks</li>
                                <li>loss of accuracy and control</li>
                                <li>lack of awareness of error accumulation</li>
                                <li>irritability</li>
                            </ul>
                        </li>
                    </ul>

                    <h5>Apathy Due to Inadequate Instruction</h5>
                    <ul>
                        <li>lessons should be prepared in advance, appropriate to the learner, and contain accurate content</li>
                        <li>confidence in an instructor is difficult to regain</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="defense">
            <h3>Barriers to Motivation</h3>
            <h4>Defense Mechanisms</h4>
            <p class="bg bg-1">An unconscious mental process to protect oneself from axiety and unpleasant emotions that can distort, transform, or otherwise falsify reality.</p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <h5>Repression</h5>
                            <ul>
                                <li>placing uncomfortable thoughts into inaccessible areas of the unconsious mind</li>
                                <li>someone who is assaulted might not remember the event</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Denial</h5>
                            <ul>
                                <li>refusing to accept external reality</li>
                                <li>heavy drinker says it is not affecting their health</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Compensation</h5>
                            <ul>
                                <li>disguising a weak quality by emphasizing a strong one</li>
                                <li>student compensates for their harsh landings by emphasizing that their steep turns were in standards</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Projection</h5>
                            <ul>
                                <li>relegating the blame for shortcomings onto other people or conditions</li>
                                <li>student blames their lack of ground knowledge on their instructor</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <h5>Rationalization</h5>
                            <ul>
                                <li>justifying actions that otherwise would be unacceptable</li>
                                <li>student claims they failed an exam because there was not enough time</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Reaction Formation</h5>
                            <ul>
                                <li>faking a belief that is opposite what the person actually feels</li>
                                <li>student claiming that they do not care if they fail thier check ride</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Fantasy</h5>
                            <ul>
                                <li>daydreaming about how things should be rather than taking action</li>
                                <li>spending more time thinking about being an airline pilot than studying to become one</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Displacement</h5>
                            <ul>
                                <li>shifting an emotion from the original cause to a less threatening substitute</li>
                                <li>upset about failing a checkride, a student lashes out at a friend</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="communication">
            <h3>Communication</h3>
            <p class="bg bg-1">The effectiveness of communication is measured by the similarity between what the source intends and what the receiver receives.</p>
            <p class="bg bg-1">The goal of communication is to cause a positive change in the behavior of the learner.</p>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Source</h4>
                    <p>Where the information comes from</p>
                    <ul>
                        <li>must be able to adjust the symbols for the interpretation of the reveiver</li>
                        <li>information must be accurate, current, and stimulating</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Symbols</h4>
                    <p>How the information is encoded in a medium</p>
                    <ul>
                        <li>differenct mediums might be appropriate for different ideas</li>
                        <li>ensure the learner understands and identifies with symbols that are used</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Receiver</h4>
                    <p>Where the information is interpreted</p>
                    <ul>
                        <li>ensure understanding by having the learner repeat the information</li>
                        <li>positive change in behavior</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="communication-barriers">
            <h3>Barriers to Effective Communication</h3>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Lack of Common Experience</h4>
                    <ul>
                        <li>words can mean different things to people based on different experience</li>
                        <li>ensure that terminology is understood</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Confusion Between Symbol and the Symbolized Object</h4>
                    <ul>
                        <li>words can be confused with the intended representation</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Overuse of Abstractions</h4>
                    <ul>
                        <li>an abstraction is a more general, vague way to refer to something</li>
                        <li>abstractions can cause confusion when they are not specific enough</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>External Factors</h4>
                    <ul>
                        <li>Physiological - hearing impairment</li>
                        <li>Environmental - radio static</li>
                        <li>Psychological - distrust</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="communication-skills">
            <h3>Developing Communication Skills</h3>
            <div class="row">
                <div class="col">
                    <div class="row bg bg-1">
                        <div class="col">
                            <h4>Role Playing</h4>
                            <ul>
                                <li>people play a specific role to create a practice environment</li>
                                <li>chair teaching</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row bg bg-1">
                        <div class="col">
                            <h4>Instructional Communication</h4>
                            <ul>
                                <li>understand the concepts thoroughly</li>
                                <li>use examples and personal experiences</li>
                                <li>determine understanding using evaluation</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row bg bg-1">
                        <div class="col">
                            <h4>Listening</h4>
                            <ul>
                                <li>instructors are not always the "Source" when communication is happening</li>
                                <li>effective communication is hearing WITH comprehension</li>
                                <li>listen to understand, not refute</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row bg bg-1">
                        <div class="col">
                            <h4>Questioning</h4>
                            <ul>
                                <li>ensure understanding using frequent and brief questioning</li>
                                <li>ask open ended questions</li>
                                <li>encourage the learner to explaing and paraphrase</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row bg bg-1">
                        <div class="col">
                            <h4>Instructional Enhancement</h4>
                            <ul>
                                <li>the better and deeper an instructor understands a topic, the better they can teach it</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="relationship">
            <h3>Instructor / Learner Relationship</h3>
            <p class="bg bg-1">The relationship that a student has with their instructor will directly influence their ability to learn.</p>
            <ul>
                <li>everyone has a different learning style</li>
                <li>good instructors develop multiple teaching styles to accomodate different learners</li>
            </ul>
        </section>

        <section>
            <h3>Conclusion</h3>
            <h4>Evaluation</h4>
            <p class="bg bg-1">Provide an example of a human need and decide which level of Maslow's Hierarchy the need belongs under.</p>
            <p class="bg bg-1">Provide an example of negative motivation, then provide a positive alternative.</p>
            <p class="bg bg-1">Choose a defense mechanism and provide an example of that defense mechanism.</p>
            <p class="bg bg-1">Choose a barrier to communication and provide an example of that barrier.</p>
        </section>
    </main>
</body>

</html>