<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section>
            <h2 th:text="${title}"></h2>
            <h3>Area of Operation II.K</h3>

            <div class="row">
                <div class="col">
                    <h4>Objective</h4>
                    <ul>
                        <li>The learner will understand the requirements for proper logbook entries and endorsements when giving flight training, flight reviews, and submitting students for evaluation.</li>
                        <li>The learner will develop skills to identify the necessary requirements that a student must satisfy based on their ratings and experience.</li>
                        <li>The learner will mitigate risk by properly logging and retaining all necessary records and properly preparing students for evaluation.</li>
                    </ul>

                    <h4>References</h4>
                    <ul>
                        <li>14 CFR</li>
                        <li>AC-61-65</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#logbooks">Logbooks</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Introduction</h3>
            <p class="bg bg-1">Improper record keeping / validation of requirements can stall your training.</p>
        </section>

        <section id="logbooks">
            <h3>Logbooks</h3>
            <a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-A/section-61.51" class="far">61.51</a>
            <p>Each logbook entry must include:</p>
            <ul>
                <li>date</li>
                <li>aircraft identification</li>
                <li>aircraft make and model</li>
                <li>total flight time</li>
                <li>departure and arrival locations</li>
                <li>type of experience (Solo, XC, PIC, etc.)</li>
                <li>conditions (night, IMC, etc.)</li>
            </ul>
            <p>If a safety pilot was required for the flight, their name must also be included in the entry.</p>
            
            <h3>Dual Given</h3>
            <a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-A/section-61.189" class="far">61.189</a>
        </section>

        <section>
            <h3>Typical Student Pilot Endorsements</h3>
            <table>
                <thead>
                    <tr>
                        <th>Solo Flight Endorsements</th>
                        <th>XC Endorsements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pre-solo Aeronautical Knowledge</td>
                        <td>Solo XC Training</td>
                    </tr>
                    <tr>
                        <td>Pre-solo Flight Training</td>
                        <td>Solo XC Planning</td>
                    </tr>
                    <tr>
                        <td>Pre-solo Flight Training at Night</td>
                        <td>Repeated Solo XC</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
        </section>
    </main>
</body>

</html>