<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065396/da20_fzzlgt.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section id="outline">
            <div class="row">
                <div class="col">
                    <h3>Objective</h3>
                    <p>The learner will aquire the necessary knowledge, skills, and awareness pertaining to:</p>
                    <ul>
                        <li>logbook entries and endorsements</li>
                        <li>responsibilities as a flight instructor including maintaining a current certificate</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#logbooks">Logbooks</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="logbooks">
            <h3>Logbooks</h3>
            <p>Each logbook entry must include:</p>
            <ul>
                <li>date</li>
                <li>aircraft identification</li>
                <li>aircraft make and model</li>
                <li>total flight time</li>
                <li>departure and arrival locations</li>
                <li>type of experience (Solo, XC, PIC, etc.)</li>
                <li>conditions (night, IMC, etc.)</li>
            </ul>
            <p>If a safety pilot was required for the flight, their name must also be included in the entry.</p>
        </section>

        <section>
            <h3>Typical Student Pilot Endorsements</h3>
            <table>
                <thead>
                    <tr>
                        <th>Solo Flight Endorsements</th>
                        <th>XC Endorsements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pre-solo Aeronautical Knowledge</td>
                        <td>Solo XC Training</td>
                    </tr>
                    <tr>
                        <td>Pre-solo Flight Training</td>
                        <td>Solo XC Planning</td>
                    </tr>
                    <tr>
                        <td>Pre-solo Flight Training at Night</td>
                        <td>Repeated Solo XC</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
        </section>
    </main>
</body>

</html>