<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section>
            <h2 th:text="${title}"></h2>
            <h3>Area of Operation II.K</h3>

            <div class="row">
                <div class="col">
                    <h4>Objective</h4>
                    <ul>
                        <li>The learner will understand the requirements for proper logbook entries and endorsements when giving flight training, flight reviews, and submitting students for evaluation.</li>
                        <li>The learner will develop skills to identify the necessary requirements that a student must satisfy based on their ratings and experience.</li>
                        <li>The learner will mitigate risk by properly logging and retaining all necessary records and properly preparing students for evaluation.</li>
                    </ul>

                    <h4>References</h4>
                    <ul>
                        <li>14 CFR</li>
                        <li>AC-61-65</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#logbooks">Logbooks</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Introduction</h3>
            <p class="bg bg-1">Improper record keeping / validation of requirements can end a checkride before it begins.</p>
        </section>

        <section id="logbooks">
            <h3>Logbook Entries</h3>
            <a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-A/section-61.51" target="_blank" class="far mt">61.51</a>
            <p>Each logbook entry must include:</p>
            <ul>
                <li>date</li>
                <li>aircraft identification</li>
                <li>aircraft make and model</li>
                <li>total flight time</li>
                <li>departure and arrival locations</li>
                <li>type of experience (Solo, XC, PIC, etc.)</li>
                <li>conditions (night, IMC, etc.)</li>
                <li>name of safety pilot (if required)</li>
            </ul>

            <h4 class="mt">Dual Given</h4>
                <a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-A/section-61.189" target="_blank" class="far mt">61.189</a>
                <ul>
                    <li>dual given logbook entries must be signed by the instructor</li>
                </ul>
        </section>

        <section id="records">
            <h3>Instructor Records</h3>
            <p class="bg bg-1">Instructors must keep records for 3 years of the following endorsements</p>
            <a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-A/section-61.189" target="_blank" class="far">61.189</a>
            <h4>Solo Endorsements</h4>
            <ul>
                <li>name</li>
                <li>date</li>
            </ul>

            <h4>Knowledge Test / Practical Test Endorsements</h4>
            <ul>
                <li>name</li>
                <li>date</li>
                <li>kind of test</li>
                <li>results of test</li>
            </ul>
        </section>

        <section>
            <h3>Student Pilot</h3>
            <div class="row">
                <div class="col">
                    <h4>Eligibility</h4>
                    <ul>
                        <li>16 years of age</li>
                        <li>read, speak, write, and understand English</li>
                    </ul>

                    <h4>Application</h4>
                    <ul>
                        <li>IACRA application</li>
                        <li><b>A.14</b> TSA endorsement (keep records for 5 years)</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Private Pilot</h3>
            <div class="row">
                <div class="col">
                    <h4>Before Solo</h4>
                    <ul>
                        <li>Student Pilot Certificate</li>
                        <li>Medical</li>
                        <li><b>A.3</b> pre-solo aeronautical knowledge test</li>
                        <li><b>A.4</b> pre-solo flight training</li>
                        <li><b>A.6</b> solo flight endorsement</li>
                    </ul>

                    <h4>Solo XC</h4>
                    <ul>
                        <li><b>A.9</b> solo XC training</li>
                        <li><b>A.10</b> each solo XC flight</li>
                    </ul>

                    <h4>Before Practical Test</h4>
                    <ul>
                        <li><b>A.1</b> prerequisites for the practical test</li>
                        <li><b>A.2</b> review of knowledge test deficiencies</li>
                        <li><b>A.36</b> knowledge test</li>
                        <li><b>A.37</b> practical test</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Commercial Pilot</h3>
        </section>

        <section>
            <h3>Conclusion</h3>
            <h4>Evaluation</h4>
        </section>
    </main>
</body>

</html>