<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero"
            style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778797249/airplane-maintenance_qdhq7b.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section>
            <h3>Topics</h3>
        </section>

        <section id="general">
            <div class="row">
                <div class="col">

                    <h3>Airplane Airworthiness</h3>
                    <p class="bg bg-2">How do you as a pilot determine that an aircraft can be flown?</p>
                    <p>Airworthiness is an assessment of the condition of an aircraft, ensuring that it is suitable to
                        be flown.
                    </p>
                    <p><a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-F/part-91/subpart-A/section-91.7"
                            target="_blank" class="far">§ 91.7</a></p>

                    <h4>Two Main Aspects</h4>
                    <ul>
                        <li>Is the plane legal?</li>
                        <li>Is the plane safe?</li>
                    </ul>

                    <!--
                    <h4>common airworthiness checklists</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Method</th>
                                <th>For Legality</th>
                                <th>For Safety</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ARROW</td>
                                <td>&#10003;</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AV1ATES</td>
                                <td>&#10003;</td>
                                <td>&#10003;</td>
                            </tr>
                            <tr>
                                <td>KOEL</td>
                                <td>&#10003;</td>
                                <td>&#10003;</td>
                            </tr>
                            <tr>
                                <td>ATOMATOFLAMES</td>
                                <td>&#10003;</td>
                                <td>&#10003;</td>
                            </tr>
                            <tr>
                                <td>Personal Preflight Checklist</td>
                                <td></td>
                                <td>&#10003;</td>
                            </tr>
                        </tbody>
                    </table>
                    -->
                </div>
                <div class="col">
                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778801285/airplane-maintenance-1_hpvdjj.webp');"></div>
                </div>
            </div>
        </section>

        <section id="arrow">
            <div class="row">
                <div class="col">
                    <h3>ARROW Acronym</h3>
                    <ul>
                        <li>Airworthiness Certificate</li>
                        <li>Registration</li>
                        <li>Radio Station License (international only)</li>
                        <li>Operating Limitations</li>
                        <li>Weight and Balance</li>
                    </ul>

                    <h4>What does ARROW check?</h4>
                    <ul>
                        <li>Required documents with respect to the aircraft.</li>
                        <li>Must be physically in the aircraft while flying.</li>
                    </ul>

                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778804058/hawkeye_ft7nvb.webp');"></div>
                </div>
                <div class="col">
                    <h5>Airworthiness Certificate</h5>
                    <ul>
                        <li>Given when the aircraft is manufactured</li>
                        <li>Saying that it is legally "airworthy"</li>
                        <li>Never expires as long as maintenenace is performed.</li>
                        <li><a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-C/part-21/subpart-H/section-21.181"
                                target="_blank" class="far">§ 21.181</a></li>
                    </ul>
                    <h5>Registration</h5>
                    <ul>
                        <li>Registers your aircraft in the U.S.</li>
                        <li>Valid for 7 years</li>
                    </ul>

                    <h5>Operating Limitations</h5>
                    <ul>
                        <li>POH / AFM</li>
                        <li>Includes performance charts, standard operations, emergency operations, etc.</li>
                    </ul>

                    <h5>Weight and Balance</h5>
                    <ul>
                        <li>Measurements used for weight and balance calculations</li>
                        <li>Specific to 1 tail number</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="aviates">
            <div class="row">
                <div class="col">
                    <h3>AV1ATES Acronym</h3>
                    <ul>
                        <li>Annual Inspection</li>
                        <li>VOR Inspection</li>
                        <li>100 Hour Inspection</li>
                        <li>Additional Requirements (ADs, SAs, SB, SAIBs)</li>
                        <li>Transponder</li>
                        <li>ELT</li>
                        <li>Static System</li>
                    </ul>

                    <h4>What does AV1ATES check?</h4>
                    <ul>
                        <li>All the inspections that need to be done before you can fly.</li>
                        <li>Records of these inspections must be kept in the maintenance logs.</li>
                    </ul>
                </div>
                <div class="col bg bg-2">
                    <h3>General</h3>

                    <h4>Annual Inspection</h4>
                    <ul>
                        <li>every 12 calendar months</li>
                    </ul>

                    <h4>100 Hour Inspection</h4>
                    <ul>
                        <li>every 100 engine hours</li>
                        <li>an annual can be used as a 100 hour</li>
                        <li>for hire only</li>
                    </ul>

                    <h4>Transponder</h4>
                    <ul>
                        <li>every 24 calendar months</li>
                    </ul>

                    <h4>ELT (Emergency Locator Transmitter)</h4>
                    <ul>
                        <li>121.5</li>
                        <li>every 12 calendar months</li>
                        <li>1 hour of use</li>
                        <li>half of the useful battery life</li>
                    </ul>
                </div>
                <div class="col bg bg-3">
                    <h3>IFR Only</h3>

                    <h4>VOR</h4>
                    <ul>
                        <li>every 30 days</li>
                        <li>can be performed by pilot</li>
                    </ul>

                    <h4>Static System</h4>
                    <ul>
                        <li>every 24 calendar months</li>
                    </ul>

                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778816165/vor_jd382o.jpg');"></div>
                </div>
            </div>
        </section>

        <section id="airworthiness-directives">
            <div class="row">
                <div class="col">
                    <h3>Additional Airworthiness Requirements</h3>
                    <h5>(ADs, SAs, SBs, SAIBs)</h5>

                    <p class="bg bg-2">What happens if the FAA or manufacturer wants to update the airworthiness
                        requirements AFTER the aircraft has been certified?</p>

                    <ul>
                        <li>AD = Airworthiness Directive</li>
                        <li>SAIB = Special Airworthiness Information Bulletin</li>
                        <li>SB = Safety Bulletin</li>
                        <li>SA = Safety Alert</li>
                    </ul>

                    <p class="bg bg-1">An aircraft must comply with all regulatory requirements in order to remain
                        airworthy.</p>
                </div>
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Source</th>
                                <th>Regulatory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AD</td>
                                <td>FAA</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td>SAIB</td>
                                <td>FAA</td>
                                <td>NO</td>
                            </tr>
                            <tr>
                                <td>SB</td>
                                <td>Manufacturer</td>
                                <td>DEPENDS</td>
                            </tr>
                            <tr>
                                <td>SA</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778816685/alert_rdh77o.jpg');"></div>
                </div>
            </div>
        </section>

        <section id="equipment">
            <div class="row">
                <div class="col">
                    <h3>Required Equipment</h3>
                    <p class="bg bg-2">Is it possible for equipment to fail in between inspections?</p>

                    <h4>Required Equpment Checklists</h4>
                    <ul>
                        <li>MEL</li>
                        <li>KOEL</li>
                        <li>91.205</li>
                        <li>TCDS</li>
                    </ul>

                    <p class="bg bg-2">What must a pilot do if they find something on the plane that is inoperative?</p>
                </div>

                <div class="col">
                    <h3>Inop Flow</h3>

                    <div class="row">
                        <div class="col">
                            <h4 class="bg bg-3">MEL</h4>
                            <h4 class="bg bg-2">KOEL</h4>
                            <h4 class="bg bg-2">ATOMATOFLAMES</h4>
                            <h4 class="bg bg-2">TCDS</h4>
                            <h4 class="bg bg-2">AD or SA</h4>
                        </div>

                        <div class="col">
                            <h4 class="bg bg-1">decide whether it is SAFE</h4>
                            <h4 class="bg bg-1">deactivate or remove</h4>
                            <h4 class="bg bg-1">placard INOP</h4>
                            <h4 class="bg bg-1">make a note in maintenance logs</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="special">
            <h3>Special Flight Permits</h3>
            <h5>(Ferry Permit)</h5>

            <p class="bg bg-3">What if your plane isn't airworthy, but you can't fix the problem at its current
                location?</p>

            <h5>An SFP is a way to transport a noncompliant aircraft</h5>
            <ul>
                <li>Apply with the FSDO</li>
                <li>Follow the specifications of the SFP EXACTLY</li>
                <li>Display the SFP with the Airworthiness Cert</li>
            </ul>
        </section>

        <section id="responsibility">
            <div class="row">
                <div class="col">
                    <h3>Who is Responsible for Airworthiness?</h3>

                    <h4>The Pilot (YOU!)</h4>
                    <p>before every flight</p>
                    <p><a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-F/part-91/subpart-A/section-91.7"
                            target="_blank" class="far">§ 91.7</a></p>

                    <h4>Also the Owner or Operator</h4>
                    <p>long term maintenance</p>
                    <p><a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-F/part-91/subpart-A/section-91.403"
                            target="_blank" class="far">§ 91.403</a></p>
                </div>

                <div class="col">
                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778817845/uncle-sam_iq5vv4.jpg');"></div>
                </div>
            </div>
        </section>

        <section>
            <h3>Conclusion</h3>
            <h3>NEVER Fly an Aircraft that is NOT Airworthy</h3>
            <h5>It is illegal!</h5>
            <h5>It is unsafe!</h5>
        </section>
    </main>
</body>

</html>
