<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero"
            style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778790674/visual-scanning-and-collision-avoidance_bmyp0p.png');">
            <h2 th:text="${title}"></h2>
        </section>

        <section>
            <h3>Topics</h3>
            <h5><a href="">Environmental Conditions that Degrade Vision</a></h5>
            <h5><a href="">Vestibular and Visual Illusions</a></h5>
        </section>

        <section id="visibility">
            <div class="row">
                <div class="col">
                    <h3>Environmental Conditions that Degrade Vision</h3>
                    <div class="flashcard">
                        <p class="question">What are some environmental factors that can affect our vision as pilots?
                        </p>
                        <div class="answer">
                            <ul>
                                <li>lighting conditions</li>
                                <li>weather conditions</li>
                                <li>runway illusions</li>
                            </ul>
                        </div>
                    </div>

                    <a href="https://www.youtube.com/shorts/-aIx1PChVTI" target="_blank" class="video">WATCH ME</a>
                </div>
            </div>
        </section>

        <section id="vestibular">
            <h3>Vestibular and Visual Illusions</h3>
        </section>

    </main>
</body>

</html>