<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065396/da20_fzzlgt.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section id="outline">
            <div class="row">
                <div class="col">
                    <h3>Objective</h3>
                    <p>The learner will aquire the necessary knowledge, skills, and awareness pertaining to:</p>
                    <ul>
                        <li>night operations and factors unique to night flight</li>
                        <li>human factors at night including changes to vision</li>
                        <li>lighting systems and airport operations at night</li>
                        <li>equipment requirements at night</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#night">Night</a></li>
                        <li><a href="#vision">Vision at Night</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="night">
            <h3>Night Flying</h3>
            <p class="bg bg-2">How does flying at night change things for us as pilots? What are some of the considerations that we must make?</p>
        </section>

        <section id="vision">
            <h3>Eyes at Night</h3>

            <h4>Rods and Cones</h4>
            <div class="row">
                <div class="col">
                    <h4>Rods</h4>
                </div>
            </div>
        </section>

        <section>
            <h3>Visual Illusions at Night</h3>

        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
        </section>
    </main>
</body>

</html>
