<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero"
            style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1778797249/airplane-maintenance_qdhq7b.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section>
            <h3>Topics</h3>
            <h5><a href=""></a></h5>
        </section>

        <section id="">
            <h3>Procedures</h3>
            <ul>
                <li>Verify "hold short" checklist complete</li>
                <li>Adjust power and control rudder to roll onto runway</li>
                <li>
                    <p>Full power - verify:</p>
                    <ul>
                        <li>gauges green</li>
                        <li>RPMs</li>
                        <li>airspeed alive</li>
                    </ul>
                </li>
                <li>Rotate: Vr</li>
                <li>Stay in ground effect until chosen climb out speed (Vy or Vx)</li>
                <li>At safe altitude (about 400 AGL) set cruise flaps, pitch for cruise climb</li>
            </ul>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
            <h4>Takeoff is a Critical Phase of Flight</h4>
            <ul>
                <li>Stay Focused</li>
                <li>Verify your aircraft is working properly</li>
                <li>
                    <p>Watch for obstacles</p>
                    <ul>
                        <li>vehicles</li>
                        <li>animals / birds</li>
                        <li>terrain</li>
                        <li>traffic</li>
                    </ul>
                <li>Watch your airspeed (don't stall)</li>
            </ul>
            <h4 class="mt">Most Importantly: Enjoy your flight!</h4>
        </section>
    </main>
</body>

</html>