<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065396/da20_fzzlgt.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section id="outline">
            <div class="row">
                <div class="col">
                    <h3>Objective</h3>
                    <p>The learner will aquire the necessary knowledge, skills, and awareness pertaining to:</p>
                    <ul>
                        <li>maintaining straight and level flight</li>
                        <li>performing level turns</li>
                        <li>performing straight climbs and climbing turns</li>
                        <li>performing straight descents and descending turns</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#straight">Straight and Level Flight</a></li>
                        <li><a href="#turns">Turns</a></li>
                        <li><a href="#climbs">Climbs</a></li>
                        <li><a href="#descents">Descents</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="straight">
            <h3>Straight and Level Flight</h3>
            <p>Might sound simple, but it is fundamental to all other aspects of flying.</p>
            <p>Understanding and mastering principles of flight when straight and level, builds a foundation for other maneuvers.</p>
        </section>

        <section>
            <h3>Axes of Rotation</h3>
            <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065769/axes_f0a5iq.png');"></div>
        </section>

        <section>
            <h3>Straight and Level Flight</h3>
            <p>How do we know we are in straight and level flight?</p>
            <div class="row">
                <div class="col bg bg-1">
                    <h4>Level</h4>
                    <p>lateral axis</p>
                    <p>control with elevator</p>
                    <p>altitude is consistent / VSI is 0</p>
                </div>

                <div class="col bg bg-1">
                    <h4>Straight</h4>
                    <p>longitudinal and vertical axes</p>
                    <p>control with ailerons and rudder</p>
                    <p>heading is consistent / rate of turn is 0</p>
                </div>
            </div>

            <div class="row bg bg-2">
                <div class="col">
                    <h4>Objective of Straight and Level</h4>
                    <ul>
                        <li>notice deviations quickly</li>
                        <li>constantly make small, immediate corrections</li>
                        <li>monitor the results</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Learning to Control the Aircraft</h3>
            <h4 class="mt">Light Controls</h4>
            <p>two fingers</p>
            <p>appropriate, smooth movements</p>
            <h4 class="mt">Trim</h4>
            <p>Don't fly with trim, use it to relieve pressure.</p>
            <h4 class="mt">Don't Chase</h4>
            <p>make small inputs, observe result, repeat</p>
        </section>

        <section>
            <h3>Visual References</h3>

            <h4>Look Outside!</h4>
            <p>Learn to use visual references outside the plane for attitude.</p>
            <ul>
                <li>90% outside referencing terrain and looking for traffic</li>
                <li>10% verifying with instruments</li>
            </ul>

            <p class="bg bg-1">The sound of the engine is also a great reference</p>
        </section>

        <section>
            <h3>Common Errors</h3>
            <ul>
                <li>Fixating on instruments / looking inside too much</li>
                <li>Chasing the instruments instead of proper small corrections</li>
                <li>Gripping the controls too tightly</li>
                <li>Mechanically forcing the controls instead of smooth pressure inputs</li>
                <li>Failing to scan for traffic, terrain, weather, etc.</li>
            </ul>
        </section>

        <section id="turns">
            <h3>Forces in a Turn</h3>
            <p>A component of total lift is converted from vertical to horizontal lift</p>
            <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779901735/forces-turns_xivhrw.webp');"></div>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
            <h4>Learn the Fundamentals</h4>
        </section>
    </main>
</body>

</html>
