<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065396/da20_fzzlgt.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section id="outline">
            <h3>Area of Operation IX. Performance and Ground Reference Maneuvers</h3>
            <div class="row">
                <div class="col">
                    <h4>Task B. Steep Spiral</h4>
                    <h4>Task E. Ground Reference Maneuvers</h4>
                    <h4>Task F. Eights on Pylons</h4>
                </div>

                <div class="col">
                    <h4>Objective</h4>
                    <ul>
                        <li>Learn the procedures, safety considerations, common errors, and standards of selected performance maneuver.</li>
                        <li>Learn the principles of flight, environmental factors, and energy management skills associated with performance maneuvers.</li>
                    </ul>

                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#steep-turns">Steep Turns</a></li>
                        <li><a href="#chandelles">Chandelles</a></li>
                        <li><a href="#lazy-eights">Lazy Eights</a></li>
                        <li><a href="#hazards">Hazards</a></li>
                    </ul>

                    <h4>References</h4>
                    <ul>
                        <li>Pilot's Handbook of Aeronautical Knowledge</li>
                        <li>Airplane Flying Handbook</li>
                        <li>Applicable Aircraft POH or AFM</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Introduction</h3>
            <div class="row">
                <div class="col">
                    <h4 class="mt">Outline</h4>
                    <ul>
                        <li>
                            <p>Performance maneuvers including</p>
                            <ul>
                                <li>Steep Turns</li>
                                <li>Chandelles</li>
                                <li>Lazy Eights</li>
                            </ul>
                        </li>
                        <li>
                            <p>Hazards associated with these maneuvers including</p>
                            <ul>
                                <li>loss of coordination</li>
                                <li>overbanking tendencies</li>
                                <li>exceeding maneuvering speed</li>
                                <li>accelerated stalls</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="img" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779763880/landing-meme_c80flz.jpg');"></div>
                </div>
            </div>

        </section>

        <section id="normal">
            <h3>Normal Landing</h3>
            <div class="row">
                <div class="col">
                    <h4>Procedure</h4>
                </div>
            </div>
        </section>

        <section id="soft">
            <div class="row">
                <div class="col">
                    <h3>Soft Field Landing</h3>
                    <h4>Purpose</h4>
                    <p>Runway conditions are not always hard, dry asphalt. Runways might have a surface that is dirt, sand, grass, snow, etc.</p>
                    <ul>
                        <li>allow the wings to hold more of the aircrafts weight</li>
                        <li>reduce stress on the nose gear</li>
                        <li>reduce chances of getting stuck</li>
                    </ul>

                    <h4 class="mt">Procedures</h4>
                    <p>Similar to a normal landing, however</p>
                    <ul>
                        <li>maintain back pressure to keep the nose wheel off of the ground</li>
                        <li>keep nose wheel off the ground until loss of elevator authority</li>
                        <li>minimize braking while taxiing off the runway</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Common Errors</h4>
                    <ul>
                        <li>applying too much back pressure and lifting off again</li>
                        <li>allowing the nose wheel to touch down prematurely</li>
                        <li>applying brakes prematurely</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="short">
            <div class="row">
                <div class="col">
                    <h3>Short Field Landing</h3>
                    <h4>Purpose</h4>
                    <p>To clear obstacles and land on shorter runways.</p>
                    <ul>
                        <li>increase approach angle</li>
                        <li>minimize ground roll on landing</li>
                        <li>clear obstacles in vicinity of airport</li>
                    </ul>

                    <h4 class="mt">Procedure</h4>
                    <p>Similar to a normal landing, however</p>
                    <ul>
                        <li>lower approach speed</li>
                        <li>higher approach angle</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Common Errors</h4>
                    <ul>
                        <li>too fast on approach</li>
                        <li>too low on approach</li>
                        <li>too much flare causing floating</li>
                        <li>too much brakes</li>
                        <li>failing to apply maximum aerodynamic braking</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="power-off">
            <h3>Power Off 180 Landing</h3>
            <div class="row">
                <div class="col">
                    <h4>Purpose</h4>
                    <p>To simulate an engine failure in the pattern.</p>
                    <p>To practice precise energy management when landing.</p>

                    <h4 class="mt">Procedure</h4>
                    <p>Similar to a normal landing, however</p>
                    <ul>
                        <li>pull power idle when abeam your landing spot (do not adjust again unless unsafe)</li>
                        <li>pitch for Vbg</li>
                        <li>modify turns as necessary for wind, altitude, obstructions, etc.</li>
                    </ul>

                    <h4 class="mt">ACS Standards</h4>
                    <ul>
                        <li>touch down on specified point or within 200 feet</li>
                        <li>proper pitch attitude</li>
                        <li>no side drift</li>
                        <li>longitudinal axis aligned with and over runway centerline</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Techniques</h4>
                    <ul>
                        <li>Base turn is decided by wind and altitude. A strong headwind or low altitude will require a shorter final leg.</li>
                        <li>Do not lower full flaps until landing is assured.</li>
                        <li>Be aware that without power, lowering full flaps will cause an initial float, then an agressive loss of altitude.</li>
                    </ul>

                    <h4 class="mt">Common Errors</h4>
                    <ul>
                        <li>failing to specify a touch down point before beginning</li>
                        <li>failing to be configured properly in downwind (appropriate airspeed and altitude)</li>
                        <li>lowering full flaps too early</li>
                        <li>raising flaps after they have been lowered</li>
                    </ul>

                    <h4 class="mt">Risk Management</h4>
                    <p>Similar to a short field landing, pilots may become fixated on hitting their spot.</p>
                    <p>Be aware of the following potential hazards.</p>
                    <ul>
                        <li>Uncoordinated turns. Do not risk spinning.</li>
                        <li>Unstable approach. Go around if neccessary.</li>
                        <li>Raising flaps at low altitudes. This causes an abrupt loss of altitude.</li>
                        <li>Harsh landings. Firm is acceptable. Establish proper pitch attitude when touching down.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="environment">
            <h3>Crosswind Corrections</h3>
            <div class="row">
                <div class="col bg bg-1">
                    <h4>Side Slip</h4>
                    <ul>
                        <li>ailerons into wind</li>
                        <li>align nose with centerline using rudder</li>
                    </ul>
                </div>

                <div class="col bg bg-1">
                    <h4>Crab</h4>
                    <ul>
                        <li>rudder into wind</li>
                        <li>wings level</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Other Wind Considerations</h3>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Tailwind Landing</h4>
                    <p>Increases landing distance.</p>
                    <h5>Corrections</h5>
                    <ul>
                        <li>land with a headwind</li>
                        <li>go around</li>
                        <li>be aware of increased landing distance</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Wind Shear</h4>
                    <p>Any abrupt change in wind direction or speed.</p>
                    <h5>Corrections</h5>
                    <ul>
                        <li>increase approach airspeed</li>
                        <li>add half the gust factor</li>
                        <li>go around</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
            <h4>Landing is a Critical Phase of Flight!</h4>
            <ul>
                <li>sterile flight deck</li>
                <li>airspeed is king - stay above stall speed</li>
                <li>verify aircraft and engine performance</li>
                <li>note weather conditions</li>
                <li>watch for obstacles</li>
            </ul>
            <h4 class="mt">Enjoy the Flight!</h4>
        </section>
    </main>
</body>

</html>
