* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gutter: 2rem;
    --opacity: 0.8;
    --border-radius: 10px;

    --white: #fff;
    --text: #000;
    --far: blue;
    --alert: orange;
    --danger: red;
    --grey-1: rgb(174, 189, 196);
    --grey-2: rgb(100, 116, 125);
    --grey-3: rgb(67, 77, 83);
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--grey-1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--gutter);
    background-color: var(--grey-1);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem var(--gutter);
    background-color: var(--grey-1);
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: var(--gutter);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h5 {
    font-size: 1rem;
    margin-top: 1rem;
}

h6 {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--grey-3);
}

a:hover {
    color: var(--grey-2);
}

button:hover {
    cursor: pointer;
}

ul {
    padding-left: var(--gutter);
}

li {
    margin-top: 0.5rem;
}

table {
    margin: var(--gutter) 0;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    border: 2px solid var(--grey-2);
}

th {
    background-color: var(--grey-1);
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: var(--gutter);
}

.col:last-child {
    margin-right: 0;
}

.text-center {
    text-align: center;
}

.nav-btn {
    width: 4rem; 
    height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--text);
    border: 0;
    opacity: var(--opacity);
}

.nav-btn:hover {
    opacity: 1;
}

.group {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0 var(--gutter);
}

.group-name {
    padding: 0.5rem;
    text-transform: capitalize;
    background-color: var(--grey-3);
    border-radius: var(--border-radius);
    color: var(--grey-1);
}

.lesson {
    list-style-type: none;
    margin-top: 1rem;
    margin-left: var(--gutter);
}

.lesson-name {
    display: flex;
    padding: 1rem;
    text-transform: capitalize;
    color: var(--grey-3);
    background-color: var(--grey-1);
    border-radius: var(--border-radius);
}

.lesson-name:hover {
    color: var(--grey-1);
    background-color: var(--grey-2);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero h2 {
    padding: var(--gutter);
    color: var(--white);
    background-color: rgba(0, 0, 0, var(--opacity));
}

.img {
    flex: 1;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.video {
    width: fit-content;
    padding: 0.5rem;
    color: var(--grey-2);
    background-color: var(--white);
    border: 2px solid var(--grey-2);
    border-radius: var(--border-radius);
}

.video:hover {
    color: var(--white);
    background-color: var(--grey-2);
    border: 2px solid var(--grey-2);
}

.mt {
    margin-top: var(--gutter);
}

.text-alert {
    color: var(--alert);
}

.text-danger {
    color: var(--danger);
}

.bg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.bg-1 {
    background-color: var(--grey-1);
    color: var(--text);
}

.bg-2 {
    background-color: var(--grey-2);
    color: var(--white);
}

.bg-3 {
    background-color: var(--grey-3);
    color: var(--white);
}

.far {
    color: var(--far);
}

.flashcard {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--grey-3);
    border-radius: var(--border-radius);
    overflow: hidden;
} 

.flashcard .question {
    margin: 0;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--grey-3);
}

.flashcard .answer {
    padding: 0.5rem;
}

#menu {
    padding: 2rem;
}

