* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gutter: 2rem;
    --opacity: 0.8;
    --border-radius: 10px;

    --white: #fff;
    --text: #000;
    --danger: red;

    --grey: #d5e3e6;
    --grey-dark: #a6b0b3;

    --color-1: #4b7580;
    --color-1-dark: #36555c;

    --color-2: #5a686b;
    --color-2-dark: #363e40;

    --color-3: #d4c7ba;
    --color-3-dark: #b0a59a;

    --far: #0f53d4;
    --far-dark: #0b40a3;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem var(--gutter);
    color: var(--white);
    background-color: var(--color-1-dark);
}

header a {
    color: var(--white);
}

header a:hover {
    color: var(--grey);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem var(--gutter);
    color: var(--white);
    background-color: var(--color-1-dark);
}

nav {
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: var(--gutter);
    background: linear-gradient(340deg, var(--color-1) 0%, var(--grey) 40%);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--white);
    background-color: var(--text);
}

h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h5 {
    font-size: 1rem;
    margin-top: 1rem;
}

h6 {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-2);
}

a:hover {
    color: var(--color-2-dark);
}

button:hover {
    cursor: pointer;
}

ul {
    padding-left: var(--gutter);
}

li {
    margin-top: 0.5rem;
}

table {
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    border: 2px solid var(--color-1-dark);
}

th {
    color: var(--white);
    background-color: var(--color-1);
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: var(--gutter);
}

.col:last-child {
    margin-right: 0;
}

.text-center {
    text-align: center;
}

.img {
    flex: 1;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.m {
    margin: var(--gutter);
}

.mt {
    margin-top: var(--gutter);
}

.text-danger {
    color: var(--danger);
}

.far {
    color: var(--far);
}

.far:hover {
    color: var(--far-dark);
}

.bg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.bg-1 {
    color: var(--white);
    background-color: var(--color-1);
}

.bg-2 {
    color: var(--white);
    background-color: var(--color-2);
}

.bg-3 {
    color: var(--text);
    background-color: var(--color-3);
}

#menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#menu li {
    margin: 0 0 0 1rem;
}

#controls {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.control-btn {
    width: 4rem; 
    height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--text);
    border: 0;
    opacity: var(--opacity);
}

.control-btn:hover {
    opacity: 1;
}

.group {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0 var(--gutter);
}

.group-name {
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--color-1-dark);
    border-radius: var(--border-radius);
}

.lesson {
    list-style-type: none;
    margin-top: 1rem;
    margin-left: var(--gutter);
}

.lesson-name {
    display: flex;
    padding: 1rem;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--color-2);
    border-radius: var(--border-radius);
}

.lesson-name:hover {
    color: var(--white);
    background-color: var(--color-2-dark);
}

.flashcard {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--grey-3);
    border-radius: var(--border-radius);
    overflow: hidden;
} 

.flashcard .question {
    margin: 0;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--grey-3);
}

.flashcard .answer {
    padding: 0.5rem;
}
