<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<body>
    <main layout:fragment="content">

        <h2>Weather</h2>

        <h3>What is Weather?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur veritatis, illum placeat qui velit cum dolor sapiente dolorum quia nihil numquam quibusdam tenetur suscipit dolores. Dolore eveniet rem quam ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci dignissimos deleniti molestiae consequuntur rem dolores itaque assumenda! Dolores quidem fuga ducimus veniam hic velit nihil iusto, voluptate quam mollitia!</p>

        <h3>Stability of the Air</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequatur iusto itaque, ea vel, pariatur in ad fugit soluta aliquid et, veniam cupiditate dolore nulla similique voluptas! Maxime, perspiciatis suscipit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum mollitia, error placeat nostrum quasi, voluptates laborum cumque itaque similique deleniti est corporis asperiores magni eligendi vero molestias iure iste. Quod.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quia, sint optio aliquam fugiat voluptatibus molestias consequuntur nihil, qui, ipsum voluptatum hic repellendus animi at odio rem odit quae corporis.</p>


    </main>
</body>

</html>