<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065396/da20_fzzlgt.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section id="outline">
            <div class="row">
                <div class="col">
                    <h3>Objective</h3>
                    <p>The learner will aquire the necessary knowledge, skills, and awareness pertaining to:</p>
                    <ul>
                        <li>principles of flight pertaining to stalls</li>
                        <li>inducing and recovering from a stall, including power on and power off stalls</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#power-off">Power Off Stall</a></li>
                        <li><a href="#power-on">Power On Stall</a></li>
                        <li><a href="#accelerated">Accelerated Stall</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="power-off">
            <div class="row">
                <div class="col">
                    <h3>Power Off Stalls</h3>
                </div>
                <div class="col bg bg-2">
                    <h3>Common Errors</h3>
                    <ul>
                        <li>fixating on instruments</li>
                        <li>using ailerons to correct heading</li>
                        <li>failing to apply adequate rudder</li>
                        <li>pitching down to aggressively</li>
                        <li>pitching up to aggressively</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="accelerated">
            <div class="row">
                <div class="col">
                    <h3>Accelerated Stalls</h3>
                    <h4 class="mt">Purpose</h4>
                    <p>To demonstrate that a stall can happen at any airspeed.</p>

                    <h4 class="mt">Load Factor</h4>
                    <p>When a plane has added load factor, it will stall at speeds higher than the regular stall speed.</p>
                    <p>Load Factor increased by:</p>
                    <ul>
                        <li>turning</li>
                        <li>pitching up</li>
                        <li>abrupt changes to flight path</li>
                    </ul>

                    <h4 class="mt">Considerations</h4>
                    <ul>
                        <li>excessive load factor can damage the aircraft, stay below Va</li>
                        <li>accelerated stalls tend to happen at higher airspeeds and therefore can be more aggressive<br>(inexperienced pilots might be caught off gaurd)</li>
                        <li>danger of spinning</li>
                    </ul>
                </div>

                <div class="col bg bg-1">
                    <h4>Common Errors</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Error</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>airspeed too high</td>
                                <td>stay below Va</td>
                            </tr>
                            <tr>
                                <td>bank angle too shallow</td>
                                <td>aggressive bank angles are necesary to increase load factor</td>
                            </tr>
                            <tr>
                                <td>pitching up too little or too slowly</td>
                                <td>allows airspeed to bleed off gradually</td>
                            </tr>
                            <tr>
                                <td>becoming uncoordinated</td>
                                <td>risks a spin</td>
                            </tr>
                            <tr>
                                <td>using ailerons before stall recovery</td>
                                <td>increasing the AoA of a stalled wing will increase the stall<br>break the stall, then correct attitude</td>
                            </tr>
                            <tr>
                                <td>fixating inside the aircraft</td>
                                <td>very abrupt maneuver, visual references are crucial</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
        </section>
    </main>
</body>