<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section class="hero" style="background-image: url('https://res.cloudinary.com/dscigc3ga/image/upload/q_auto/f_auto/v1779065396/da20_fzzlgt.jpg');">
            <h2 th:text="${title}"></h2>
        </section>

        <section id="outline">
            <div class="row">
                <div class="col">
                    <h3>Objective</h3>
                    <ul>
                        <li>Gain the necessary knowledge and skills to determine if a pilot has received the required training and experience for various qualifications, including certification and currency.</li>
                        <li>Gain the necessary knowledge and skills to determine the privileges and limitations of a pilot's certifications, including pilot and medical certificates.</li>
                        <li>Gain an awareness of currency vs proficiency and other considerations when performing a personal fitness assessment.</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#certification">Certification</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Certification</h3>
            <a href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-E/section-61.103" target="_blank" class="far"></a>
        </section>

        <section id="conclusion">
            <h3>Conclusion</h3>
        </section>
    </main>
</body>

</html>
