<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section>
            <h2 th:text="${title}"></h2>
            <h3>Area of Operation III.C</h3>

            <div class="row">
                <div class="col">
                    <h4>Objective</h4>
                    <ul>
                        <li>The learner will understand weather products, weather theory, and weather information used for flight planning.</li>
                        <li>The learner will develop skills to acquire, read, and interpret weather information and make decisions related to flight safety.</li>
                        <li>The learner will mitigate risk by recognizing hazardous weather and practicing making go / no go decisions.</li>
                    </ul>

                    <h4>References</h4>
                    <ul>
                        <li>14 CFR</li>
                        <li>Pilot's Handbook of Aeronautical Knowledge</li>
                        <li>Aviation Weather Handbook</li>
                        <li>Aeronautical Information Manual</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#">Topic</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Introduction</h3>
            <a href="https://www.youtube.com/watch?v=P8fMfRQP9Ig" target="_blank" class="far mt">Case Study</a>
        </section>

        <section>
            <h3>Acceptable Weather Products</h3>
            <div class="row bg bg-1">
                <div class="col">
                    <h4>Sources of Weather Data</h4>
                    <ul>
                        <li>FSS</li>
                        <li>NWS</li>
                        <li>EFB</li>
                        <li>FIS-B</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Observations</h4>
                    <ul>
                        <li>GFA</li>
                        <li>Surface Analysis Chart</li>
                        <li>METAR</li>
                        <li>PIREP</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Forecasts</h4>
                    <ul>
                        <li>GFA</li>
                        <li>Prog Chart</li>
                        <li>TAF</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>AIRMETs, SIGMETs, and Convective SIGMETs</h3>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>AIRMET</h4>
                    <ul>
                        <li>6 hr</li>
                        <li>
                            <ul>
                                <li>SIERRA - mountain obscuration</li>
                                <li>TANGO - turbulence</li>
                                <li>ZULU - icing</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>SIGMET</h4>
                    <ul>
                        <li>4 hr</li>
                        <li>severe icing, extreme turbulence, sandstorms, volcanic ash</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Conv SIGMET</h4>
                    <ul>
                        <li>2 hr</li>
                        <li>severe, embedded, or squall line thunderstorms</li>
                        <li>surface winds greater than 50 knots</li>
                        <li>hail greater than 3/4 in</li>
                        <li>tornadoes</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Atmospheric Composition and Stability</h3>
            <div class="row">
                <div class="col">
                    <h4>Atmospheric Composition</h4>
                    <ul>
                        <li>Nitrogen - 78%</li>
                        <li>Oxygen - 21%</li>
                        <li>Other - 1%</li>
                    </ul>
                    <h4>Atmospheric Layers</h4>
                    <ul>
                        <li>
                            <h5>Troposphere</h5>
                            <ul>
                                <li>surface to about FL360 on average</li>
                                <li>temperature decreases with height</li>
                                <li>most weather happens below the tropopause</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Stratosphere</h5>
                            <ul>
                                <li>temperature increases with height</li>
                                <li>commercial aircraft cruise here to avoid turbulence</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Mesosphere</h5>
                            <ul>
                                <li>decrease in temperature with height</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Thermosphere</h5>
                            <ul>
                                <li>temperature increases with height</li>
                            </ul>
                        </li>
                        <li>
                            <h5>Exosphere</h5>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Standard Atmosphere</h4>
                    <ul>
                        <li>15&#xb0;C / 59&#xb0;F</li>
                        <li>29.92" Hg / 1013.25 mb</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Wind</h3>
            <div class="row">
                <div class="col">
                    <h4>Factors that Affect Wind</h4>
            <ul>
                <li>Pressure Gradient Force</li>
                <li>Coriolis Force</li>
                <li>Surface Friction</li>
            </ul>
                </div>
                <div class="col">
                    <h4>Hazardous Wind</h4>
                    <ul>
                        <li>Wind Shear</li>
                        <li>Mountain Wave</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Temperature and Heat Exchange</h3>
            <div class="row">
                <div class="col">
            <h4>Types of Heat Transfer</h4>
            <ul>
                <li>Conduction</li>
                <li>Convection</li>
                <li>Radiation</li>
            </ul>
            <p class="bg bg-2">Water is more resistant to thermal change than land.</p>
                </div>
                <div class="col">
                    <h4>Standard Lapse Rate</h4>
                    <ul>
                        <li>2&#xb0;C per 1000 ft</li>
                    </ul>
                    <h4>Temperature Inversion</h4>
                    <ul>
                        <li>increase in temperature with and increase of altitude</li>
                        <li>radiation inversion or frontal inversion</li>
                        <li>poor visibility</li>
                        <li>smooth air</li>
                        <li>wind shear across the boundary</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Moisture and Precipitation</h3>
        </section>

        <section>
            <h3>Air Masses and Fronts</h3>
        </section>

        <section>
            <h3>Clouds</h3>
        </section>

        <section>
            <h3>Turbulence</h3>
            <h4>Turbulence Intensities</h4>
            <ul>
                <li>Light</li>
                <li>Moderate</li>
                <li>Severe</li>
                <li>Extreme</li>
            </ul>
            <h4>Types of Turbulence</h4>
            <ul>
                <li>Convective</li>
                <li>Thunderstorms</li>
                <li>Mechanical (Mountain Wave)</li>
                <li>Wind Shear</li>
                <li>Clear Air Turbulence</li>
            </ul>
        </section>

        <section>
            <h3>Thunderstorms</h3>
        </section>

        <section>
            <h3>Icing and Freezing Level</h3>
        </section>

        <section>
            <h3>Fog and Mist</h3>
            <h4>Fog</h4>
            <p class="bg bg-1">visibility less than 5/8 sm</p>
            <ul>
                <li>Radiation</li>
                <li>Mountain/Valley</li>
                <li>Advection</li>
                <li>Upslope</li>
                <li>Frontal</li>
                <li>Steam</li>
                <li>Freezing</li>
            </ul>

            <h4>Mist</h4>
            <p class="bg bg-1">visibility greater than 5/8 sm but less than 7 sm</p>
        </section>

        <section>
            <h3>Obstructions to Visibility</h3>
        </section>

        <section>
            <h3>Conclusion</h3>
            <h4>Evaluation</h4>
            <ul>
                <li>List 4 sources of weather data (2 observations, 2 forecasts). Find an example of each and explain how it might affect a flight.</li>
            </ul>
        </section>
    </main>
</body>

</html>