<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <main layout:fragment="content">

        <section>
            <h2 th:text="${title}"></h2>
            <h3>Area of Operation III.C</h3>

            <div class="row">
                <div class="col">
                    <h4>Objective</h4>
                    <ul>
                        <li>The learner will understand weather products, weather theory, and weather information used for flight planning.</li>
                        <li>The learner will develop skills to acquire, read, and interpret weather information and make decisions related to flight safety.</li>
                        <li>The learner will mitigate risk by recognizing hazardous weather and practicing making go / no go decisions.</li>
                    </ul>

                    <h4>References</h4>
                    <ul>
                        <li>14 CFR</li>
                        <li>Pilot's Handbook of Aeronautical Knowledge</li>
                        <li>Aviation Weather Handbook</li>
                        <li>Aeronautical Information Manual</li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Topics</h4>
                    <ul>
                        <li><a href="#">Topic</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Introduction</h3>
            <a href="https://www.youtube.com/watch?v=P8fMfRQP9Ig" target="_blank" class="far mt">Case Study</a>
        </section>

        <section>
            <h3>Acceptable Weather Products</h3>
            <div class="row bg bg-1">
                <div class="col">
                    <h4>Sources of Weather Data</h4>
                    <ul>
                        <li>FSS</li>
                        <li>NWS</li>
                        <li>EFB</li>
                        <li>FIS-B</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col bg bg-2">
                    <h4>Observations</h4>
                    <ul>
                        <li>METAR</li>
                        <li>PIREP</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Forecasts</h4>
                    <ul>
                        <li>TAF</li>
                    </ul>
                </div>

                <div class="col bg bg-2">
                    <h4>Outlooks</h4>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h3>Conclusion</h3>
            <h4>Evaluation</h4>
            <ul>
                <li>List 3 sources of weather (an observation, forecast, and outlook). Find an example of each and explain how it might affect a flight.</li>
            </ul>
        </section>
    </main>
</body>

</html>